@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --card: 149 60% 100%;
    --ring: 149 54% 61%;
    --input: 220 13% 91%;
    --muted: 149 14% 88%;
    --accent: 149 4% 91%;
    --border: 220 13% 91%;
    --popover: 149 60% 100%;
    --primary: 149 54% 61%;
    --secondary: 149 4% 91%;
    --background: 149 60% 100%;
    --foreground: 149 59% 5%;
    --destructive: 8 99% 30%;
    --card-foreground: 149 59% 5%;
    --muted-foreground: 149 5% 38%;
    --accent-foreground: 149 4% 31%;
    --popover-foreground: 149 59% 5%;
    --primary-foreground: 0 0% 100%;
    --secondary-foreground: 149 4% 31%;
    --destructive-foreground: 8 99% 90%;
    --radius: 0.5rem;
  }

  .dark {
    --card: 149 31% 1%;
    --ring: 149 54% 61%;
    --input: 215 27.9% 16.9%;
    --muted: 149 14% 12%;
    --accent: 149 6% 10%;
    --border: 215 27.9% 16.9%;
    --popover: 149 31% 1%;
    --primary: 149 54% 61%;
    --secondary: 149 6% 10%;
    --background: 149 31% 1%;
    --foreground: 149 18% 100%;
    --destructive: 8 99% 45%;
    --card-foreground: 149 18% 100%;
    --muted-foreground: 149 5% 62%;
    --accent-foreground: 149 6% 70%;
    --popover-foreground: 149 18% 100%;
    --primary-foreground: 149 54% 1%;
    --secondary-foreground: 149 6% 70%;
    --destructive-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Base theme */

/* .bn-container[data-theming-css-variables-demo][data-color-scheme] {
  --bn-colors-editor-text: #222222;
  --bn-colors-editor-background: #fcf4f4;
  --bn-colors-menu-text: #111111;
  --bn-colors-menu-background: #f8f2f2;
  --bn-colors-tooltip-text: #252424;
  --bn-colors-tooltip-background: #f8f2f2;
  --bn-colors-hovered-text: #ffffff;
  --bn-colors-hovered-background: #b00000;
  --bn-colors-selected-text: #ffffff;
  --bn-colors-selected-background: #c50000;
  --bn-colors-disabled-text: #9b0000;
  --bn-colors-disabled-background: #7d0000;
  --bn-colors-shadow: #640000;
  --bn-colors-border: #870000;
  --bn-colors-side-menu: #bababa;
  --bn-color-highlight-colors: #ffffff;
  --bn-border-radius: 4px;
  --bn-font-family: Helvetica Neue, sans-serif;

} */

/* Changes for dark mode */
.bn-container[data-theming-css-variables-demo][data-color-scheme="dark"] {
  --bn-colors-editor-text: #070707;
  --bn-colors-editor-background: #ffffff;
  --bn-colors-side-menu: #ffffff;
}
